.databox {
  display: inline-block;
  width: 100%;
  height: 65px;
  padding: 0;
  font-size: 0;
  margin-bottom: 30px;
  vertical-align: top;
  min-width: 130px;
}

.databox.databox-lg {
  height: 80px;
}

.databox .databox-left {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin: 0;
  width: 65px;
  height: 65px;
  padding: 10px;
  color: #2dc3e8;
}

.databox .databox-right {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  -lh-property: 0;
width:-webkit-calc(100% - 65px);
width:-moz-calc(100% - 65px);
width:calc(100% - 65px);
;
  height: 65px;
  color: #555555;
  padding: 5px 10px;
}

.databox .databox-row {
  width: 100%;
  margin: 0;
  position: relative;
}

.databox .databox-row.row-12 {
  height: 100%;
}

.databox .databox-cell {
  height: 100%;
  margin: 0;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 0 10px;
}